{% extends "myapp/base.html" %}

{% block mycontent %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/myapp/js/echarts.min.js"></script>
    <script src='/static/myapp/wordcloud/dist/echarts-wordcloud.js'></script>
    <style>
        .text {
            float: left;
            text-align: center;
            font-size: 20px;
        }

        #main1 {
            float: left;
        }

        #main2 {
            float: left;
        }

        #main3 {
            float: left;
        }

        #main4 {
            float: left;
        }

        #main5 {
            float: left;
        }

        #main6 {
            float: left;
        }

        #main7 {
            float: left;
        }

        #main8 {
            float: left;
        }

        #main9 {
            float: left;
        }

        #main10 {
            float: left;
        }

        #main11 {
            float: left;
        }

        #main12 {
            float: left;
        }

        #main13 {
            float: left;
        }

        #infoimg1 {
            float: left;
        }

        #infoimg2 {
            float: left;
        }
    </style>
    <style type="text/css">
        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        div {
            display: block;
        }

        table {
            display: table;
            border-collapse: separate;
            box-sizing: border-box;
            text-indent: initial;
            white-space: normal;
            line-height: normal;
            font-weight: normal;
            font-size: medium;
            font-style: normal;
            color: -internal-quirk-inherit;
            text-align: start;
            border-spacing: 10px;
            border-color: grey;
            font-variant: normal;
        }

        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        th {
            display: table-cell;
            vertical-align: inherit;
            font-weight: bold;
            text-align: -internal-center;
        }

        td {
            text-align: center;
        }

        b {
            font-weight: bold;
        }

        body {
            background: #F1EDE4;
        }
    </style>
    <title>Document</title>
    <style>
        body.model1 {
            margin: 0;
        }

        ul.model1 {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 10%;
            background-color: #F1EDE4;
            position: fixed;
            height: 57%;
            overflow: auto;
        }

        li a {
            display: block;
            color: #000;
            padding: 20px 16px;
            text-decoration: none;
        }

        li a.active1 {
            background-color: burlywood;
            color: white;
        }

        .a_towhere {
            font-size: 13px;
            font-weight: bold;
        }

        .model1 li a:hover:not(.active1) {
            background-color: #555;
            color: white;
        }
    </style>
</head>

<body>
    <!-- 侧边栏 -->
    <ul class="model1" style="border-width: 1px 1px 1px 0; border-style: solid; border-color: red;">
        <li class="model1"><a id="dis_name" class="a_towhere" href="#interview"></a></li>
        <li class="model1"><a class="a_towhere" href="#bar-race_h1">2.各国文献数量展示</a></li>
        <li class="model1"><a class="a_towhere" href="#cluster">3.国内外文献主题联系图</a></li>
        <li class="model1"><a class="a_towhere" href="#word">4.国内外作者贡献图</a></li>
        <li class="model1"><a class="a_towhere" href="#Top25">5.前沿研究热点变化</a></li>
    </ul>
    <!-- 此病介绍 -->
    <div style="margin-left:10%;padding:1px 16px;">
        <h1 id="interview"></h1>
        <p>
            <span style="line-height:2"><span style="color:#000000"><span style="font-size:16px"><span
                            style="font-family:微软雅黑" id="dis">&nbsp; &nbsp; &nbsp; &nbsp;
                        </span></span></span></span>
        </p>
    </div>
    </br>
    <!-- 文献bar-race -->
    <div style="margin-left:10%;padding:1px 16px;">
        <h1 id="bar-race_h1">各国文献数量展示</h1>
    </div>
    <div style="margin-left:10%;padding:1px 16px;text-align: center;"><a id="bar_race_a" target="_blank">
            <h3 style="font-weight: bold; font-size: 25px;">各国文献数量动态展示</h3>
        </a></div>

    <div id="bar-race" style="margin-left:10%;padding:1px 16px; height:700px;"></div>

    <div style="margin-left:10%;margin-top: 30px;padding:1px 16px;height:380px;">
        <div class="text" style="width: 49%;font-size: 18;">
            <a id="linechart_a" target="_blank">
                <h3 style="font-weight: bold; margin-bottom: 10px;">我国文献数量变化折线图</h3>
            </a>
        </div>
        <div class="text" style="width: 49%;font-size: 18;">
            <a id="SectorGraph_a" target="_blank">
                <h3 style="font-weight: bold; margin-bottom: 10px;">TOP-5国家罕见病文献比例</h3>
            </a>
        </div>
        <div id="main7" style="width: 49%;height:300px;"></div>
        <div id="main8" style="width: 49%;height:300px;"></div>
    </div>


    <!-- 关键词聚类图 -->
    <div style="margin-left:10%;padding:1px 16px;">
        <h1 id="cluster">国内外文献主题联系图</h1>
    </div>
    <div style="margin-left:10%;margin-top: 30px;padding:1px 16px;height:500px;">
        <div class="text" style="width: 49%;font-size: 18;"><a target="_blank" id="cluster1_a">
                <h3 style="font-weight: bold; margin-bottom: 10px;">我国文献主题联系图</h3>
            </a></div>
        <div class="text" style="width: 49%;font-size: 18;"><a target="_blank" id="cluster2_a">
                <h3 style="font-weight: bold; margin-bottom: 10px;">全球文献主题联系图</h3>
            </a></div>
        <div id="main10" style="width: 49%;height:450px;margin-right: 5px;"></div>
        <div id="main11" style="width: 49%;height:450px;margin-right: 5px;"></div>
    </div>

    <div style="margin-left:10%;padding:1px 16px;">
        <h1 id="word">国内外作者贡献图</h1>
    </div>
    <div style="margin-left:10%;margin-top: 30px;padding:1px 16px;height:420px;">
        <div class="text" style="width: 49%;font-size: 18;"><a target="_blank" id="word1_a">
                <h3 style="font-weight: bold; margin-bottom: 10px;">我国文献作者贡献图</h3>
            </a></div>
        <div class="text" style="width: 49%;font-size: 18;"><a target="_blank" id="word2_a">
                <h3 style="font-weight: bold; margin-bottom: 10px;">全球文献作者贡献图</h3>
            </a></div>
        <div id="main12" style="width: 49%;height:350px;margin-right: 5px;"></div>
        <div id="main13" style="width: 49%;height:350px;margin-right: 5px;"></div>
    </div>

    <div style="margin-left:10%;padding:1px 16px;">
        <h1 id="Top25">Top25前沿研究热点变化图</h1>
    </div>

    <!-- Top25 & interview & cluster -->
    <div id="Top25_html"></div>
    <div style="height:100px;"></div>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        };
        name = GetQueryString("name");

        $("#Top25_html").load("/static/myapp/top25_StaticHtml/" + name + ".html");
        
        var bar_race_a = document.getElementById("bar_race_a");
        bar_race_a.href = "bar_race?name=" + name;
        // interview
        $.ajax({
            type: "get",
            url: "/static/myapp/json/" + name + "/" + name + ".json",
            dataType: "json",
            success: function (data) {
                var index1 = document.getElementById("dis_name");
                var ind_text = document.createTextNode("1." + data["name"] + "介绍");
                index1.appendChild(ind_text);

                var interview = document.getElementById("interview");
                var inter_text = document.createTextNode(data["name"]);
                interview.appendChild(inter_text);

                var dis = document.getElementById("dis");
                var dis_text = document.createTextNode(data["text"]);
                dis.appendChild(dis_text);
            },
            error: function () {
                console.log("请求失败");
            },
        });

        // Cluster
        var cluster1_a = document.getElementById("cluster1_a");
        cluster1_a.href = "cluster?name=" + name + "1";
        var cluster2_a = document.getElementById("cluster2_a");
        cluster2_a.href = "cluster?name=" + name + "2";

        var dom10 = document.getElementById("main10");
        var myChart10 = echarts.init(dom10);
        var app10 = {};
        var option10;
        myChart10.showLoading();
        $.getJSON("/static/myapp/json/" + name + "/1_cluster.json", function (graph) {
            myChart10.hideLoading();
            option10 = {
                tooltip: {},
                legend: [
                    {
                        data: graph.categories.map(function (a) {
                            return a.name;
                        })
                    }
                ],
                series: [
                    {
                        name: '关键词',
                        type: 'graph',
                        layout: 'none',
                        data: graph.nodes,
                        links: graph.links,
                        categories: graph.categories,
                        roam: true,
                        label: {
                            show: false,
                            position: 'right',
                            formatter: '{b}'
                        },
                        labelLayout: {
                            hideOverlap: true
                        },
                        scaleLimit: {
                            min: 0.4,
                            max: 10
                        },
                        lineStyle: {
                            color: 'source',
                            curveness: 0
                        }
                    }
                ]
            };
            myChart10.setOption(option10);
        });

        if (option10 && typeof option10 === 'object') {
            myChart10.setOption(option10);
        };

        var dom11 = document.getElementById("main11");
        var myChart11 = echarts.init(dom11);
        var app11 = {};
        var option11;
        myChart11.showLoading();
        $.getJSON("/static/myapp/json/" + name + "/2_cluster.json", function (graph) {
            myChart11.hideLoading();
            option11 = {
                tooltip: {},
                legend: [
                    {
                        data: graph.categories.map(function (a) {
                            return a.name;
                        })
                    }
                ],
                series: [
                    {
                        name: '关键词',
                        type: 'graph',
                        layout: 'none',
                        data: graph.nodes,
                        links: graph.links,
                        categories: graph.categories,
                        roam: true,
                        label: {
                            show: false,
                            position: 'right',
                            formatter: '{b}'
                        },
                        labelLayout: {
                            hideOverlap: true
                        },
                        scaleLimit: {
                            min: 0.4,
                            max: 10
                        },
                        lineStyle: {
                            color: 'source',
                            curveness: 0
                        }
                    }
                ]
            };
            myChart11.setOption(option11);
        });

        if (option11 && typeof option11 === 'object') {
            myChart11.setOption(option11);
        };

        // href="bar_race?name="

        // $.ajax({
        //     type: "get",
        //     url: "/news_info",
        //     dataType: "json",
        //     success: function (data) {
        //         news = data["news"];
        //         var outer_1 = document.getElementById("first");
        //         var outer_2 = document.getElementById("second");
        //         for (var i = 0; i < news.length; i++) {
        //             if (i % 2 == 0) {
        //                 outer = outer_1;
        //             }
        //             else {
        //                 outer = outer_2;
        //             }
        //             var wrap = document.createElement("div");
        //             wrap.style = "clear:left;height: 100px;margin-top: 80px;";
        //             outer.appendChild(wrap);

        //             var img_a = document.createElement("a");
        //             img_a.href = news[i].web_site;
        //             img_a.target = "_blank";
        //             wrap.appendChild(img_a);

        //             var img = document.createElement("img");
        //             img.style = "float:left;height:130px;margin-right:10px;border-radius:30px";
        //             img.href = news[i].web_site;
        //             img.src = news[i].image_src;
        //             if (img.src == "http://raredis.cn/news") {
        //                 img.src = "https://p3-search.byteimg.com/img/tos-cn-i-qvj2lq49k0/a266739b04a84a76952b272c07db70fc~tplv-26tn0yjwph-cspd-v1:276:184.webp";
        //             };
        //             img_a.appendChild(img);

        //             var h2 = document.createElement("h2");
        //             h2.classList.add("news")
        //             h2.style = "height: 110px;";
        //             wrap.appendChild(h2);

        //             var a = document.createElement("a");
        //             a.href = news[i].web_site;
        //             a.target = "_blank";
        //             h2.appendChild(a);

        //             a_test = document.createTextNode(news[i].title);
        //             a.appendChild(a_test);

        //             var div = document.createElement("div");
        //             wrap.appendChild(div);

        //             var h5_1 = document.createElement("h5");
        //             h5_1.classList.add("news")
        //             h5_1.style = "float:left;text-align: left;padding-right: 0.8cm;";
        //             div.appendChild(h5_1);

        //             var h5_1_test = document.createTextNode(news[i].source);
        //             h5_1.appendChild(h5_1_test);

        //             var h5_2 = document.createElement("h5");
        //             h5_2.classList.add("news")
        //             h5_2.style = "float:left;text-align: left;";
        //             div.appendChild(h5_2);

        //             var h5_2_test = document.createTextNode(news[i].show_time);
        //             h5_2.appendChild(h5_2_test);
        //         };
        //     },
        //     error: function () {
        //         console.log("请求失败");
        //     },
        // });
    </script>
    <!-- light a -->
    <script>
        var cla = $("#_dis_index").attr("class", "active");
    </script>
    <!-- bat-race -->
    <script type="text/javascript">

        // bar-race
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        };
        name = GetQueryString("name");
        var dom_b = document.getElementById("bar-race");
        var myChart_b = echarts.init(dom_b);
        var app_b = {};
        var option_b;
        const updateFrequency = 2000;
        const dimension = 0;
        const countryColors = {
            USA: '#6A0888',
            CHINA: '#ff0000',
            ITALY: '#ffffff',
            FRANCE: '#0000ff',
            JAPAN: '#585858',
            GERMANY: '#088A29',
            INDIA: '#4C0B5F',
            KOREA: '#FFFF00',
            SPAIN: '#81F7F3',
            TURKEY: '#045FB4',
            CANADA: '#0A2A22',
            AUSTRALIA: '#FE2EF7',
            SWITZERLAND: '#424242',
            "THE NETHERLANDS": '#F5A9A9',
            BRAZIL: '#FF00BF'
        };
        $.when(
            $.getJSON('/static/myapp/json/data.json'),
            $.getJSON('/static/myapp/json/' + name + '/artnum.json')
        ).done(function (res0, res1) {
            const flags = res0[0];
            const data = res1[0];
            const years = [];
            for (let i = 0; i < data.length; ++i) {
                if (years.length === 0 || years[years.length - 1] !== data[i][4]) {
                    years.push(data[i][4]);
                }
            }
            /*   console.log(years); */
            function getFlag(countryName) {
                if (!countryName) {
                    return '';
                }
                return (
                    flags.find(function (item) {
                        return item.name === countryName;
                    }) || {}
                ).emoji;
            }
            let startIndex = 1;
            let startYear = years[startIndex];
            option_b = {
                grid: {
                    top: 10,
                    bottom: 30,
                    left: 150,
                    right: 80
                },
                xAxis: {
                    max: 'dataMax',
                    axisLabel: {
                        formatter: function (n) {
                            return Math.round(n) + '';
                        }
                    }
                },
                dataset: {
                    source: data.slice(1).filter(function (d) {
                        return d[4] === startYear;
                    })
                },
                yAxis: {
                    type: 'category',
                    inverse: true,
                    max: 9, // top10
                    axisLabel: {
                        show: true,
                        fontSize: 14,
                        formatter: function (value) {
                            return value + '{flag|' + getFlag(value) + '}';
                        },
                        rich: {
                            flag: {
                                fontSize: 25,
                                padding: 5
                            }
                        }
                    },
                    animationDuration: 300,
                    animationDurationUpdate: 300
                },
                series: [
                    {
                        realtimeSort: true,
                        seriesLayoutBy: 'column',
                        type: 'bar',
                        itemStyle: {
                            color: function (param) {
                                return countryColors[param.value[3]] || '#5470c6';
                            }
                        },
                        encode: {
                            x: dimension,
                            y: 3
                        },
                        label: {
                            show: true,
                            precision: 1,
                            position: 'right',
                            valueAnimation: true,
                            fontFamily: 'monospace'
                        }
                    }
                ],
                // Disable init animation.
                animationDuration: 0,
                animationDurationUpdate: updateFrequency,
                animationEasing: 'linear',
                animationEasingUpdate: 'linear',
                graphic: {
                    elements: [
                        {
                            type: 'text',
                            right: 160,
                            bottom: 60,
                            style: {
                                text: startYear,
                                font: 'bolder 80px monospace',
                                fill: 'rgba(100, 100, 100, 0.25)'
                            },
                            z: 100
                        }
                    ]
                }
            };
            myChart_b.setOption(option_b);
            for (let i = startIndex; i < years.length - 1; ++i) {
                (function (i) {
                    setTimeout(function () {
                        updateYear(years[i + 1]);
                    }, (i - startIndex) * updateFrequency);
                })(i);
            }
            function updateYear(year) {
                let source = data.slice(1).filter(function (d) {
                    return d[4] === year;
                });
                option_b.series[0].data = source;
                option_b.graphic.elements[0].style.text = year;
                myChart_b.setOption(option_b);
            }
        });

        if (option_b && typeof option_b === 'object') {
            myChart_b.setOption(option_b);
        }
    </script>
    <!-- line and sector -->
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        };
        name = GetQueryString("name");

        var linechart_a = document.getElementById("linechart_a");
        linechart_a.href = "linechart?name=" + name;
        var SectorGraph_a = document.getElementById("SectorGraph_a");
        SectorGraph_a.href = "SectorGraph?name=" + name;

        var chartDom7 = document.getElementById('main7');
        var myChart7 = echarts.init(chartDom7);
        var option7;
        $.ajax({
            type: "get",
            url: "/static/myapp/json/" + name + "/art_num_linechart.json",
            dataType: "json",
            success: function (data) {
                option7 = {
                    title: {
                        text: '',
                        left: 'center',
                        textStyle: {
                            fontSize: 16
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: { show: true, readOnly: false },
                            magicType: { show: true, type: ['line', 'bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    legend: {
                        data: data["name"],
                        top: 'top'
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data["time"],
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '数量',
                            min: data["bar_min"],
                            max: data["bar_max"],
                            interval: data["bar_interval"],
                            axisLabel: {
                                formatter: '{value} 个'
                            }
                        },
                        {
                            type: 'value',
                            name: '比例',
                            tooltip: {
                                valueFormatter: function (value) {
                                    return value + ' %';
                                }
                            },
                            min: data["line_min"],
                            max: data["line_max"],
                            interval: data["line_interval"],
                            axisLabel: {
                                formatter: '{value} %'
                            }
                        }
                    ],
                    series: [
                        {
                            name: data["name"][0],
                            type: 'bar',
                            tooltip: {
                                valueFormatter: function (value) {
                                    return value + ' 个';
                                }
                            },
                            data: data["bar_data"]
                            // [
                            // 	6, 11, 13, 9, 17, 21, 9, 18, 34, 21, 31
                            // ]
                        },
                        {
                            name: data["name"][1],
                            type: 'line',
                            yAxisIndex: 1,
                            tooltip: {
                                valueFormatter: function (value) {
                                    return value + '%';
                                }
                            },
                            data: data["line_data"]
                            // [28.6, 36.7, 33.3, 33.3, 41.5, 46.7, 40.9, 39.1, 60.7, 43.8, 58.5]
                        }
                    ]
                };
                option7 && myChart7.setOption(option7);
            },
            error: function () {
                console.log("请求失败");
            },
        });
        var chartDom8 = document.getElementById('main8');
        var myChart8 = echarts.init(chartDom8);
        var option8;
        $.ajax({
            type: "get",
            url: "/static/myapp/json/" + name + "/SectorGraph.json",
            dataType: "json",
            success: function (data) {
                option8 = {
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        top: '5%',
                        left: 'center'
                    },
                    series: [
                        {
                            name: 'Access From',
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            itemStyle: {
                                borderRadius: 10,
                                borderColor: '#fff',
                                borderWidth: 2
                            },
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '40',
                                    fontWeight: 'bold'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: data
                            // [
                            // 	{ value: 1048, name: 'Search Engine' },
                            // 	{ value: 735, name: 'Direct' },
                            // 	{ value: 580, name: 'Email' },
                            // 	{ value: 484, name: 'Union Ads' },
                            // 	{ value: 300, name: 'Video Ads' }
                            // ]
                        }
                    ]
                };
                option8 && myChart8.setOption(option8);
            },
            error: function () {
                console.log("请求失败");
            },
        });
    </script>
    <!-- word -->
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        };
        name = GetQueryString("name");
        var word1_a = document.getElementById("word1_a");
        word1_a.href = "wordcloud?name=" + name + "1";
        var word2_a = document.getElementById("word2_a");
        word2_a.href = "wordcloud?name=" + name + "2";

        var chart12 = echarts.init(document.getElementById('main12'));
        $.ajax({
            type: "get",
            url: "/static/myapp/json/" + name + "/1_wordcloud.json",
            dataType: "json",
            success: function (data) {
                var option12 = {
                    tooltip: {},
                    series: [{
                        type: 'wordCloud',
                        gridSize: 9,
                        sizeRange: [12, 50],
                        rotationRange: [-90, 90],
                        shape: 'pentagon',
                        width: 600,
                        height: 400,
                        drawOutOfBound: true,
                        textStyle: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            textStyle: {
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        data: data
                    }]
                };
                chart12.setOption(option12);

                window.onresize = chart12.resize;
            },
            error: function () {
                console.log("请求失败");
            },
        });
        var chart13 = echarts.init(document.getElementById('main13'));
        $.ajax({
            type: "get",
            url: "/static/myapp/json/" + name + "/2_wordcloud.json",
            dataType: "json",
            success: function (data) {
                var option13 = {
                    tooltip: {},
                    series: [{
                        type: 'wordCloud',
                        gridSize: 9,
                        sizeRange: [12, 50],
                        rotationRange: [-90, 90],
                        shape: 'pentagon',
                        width: 600,
                        height: 400,
                        drawOutOfBound: true,
                        textStyle: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            textStyle: {
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        data: data
                    }]
                };
                chart13.setOption(option13);

                window.onresize = chart13.resize;
            },
            error: function () {
                console.log("请求失败");
            },
        });
    </script>
</body>

</html>
{% endblock %}